<style>
 #image {
    position: relative;
    cursor:move;
  }
  #img {
    position:absolute
  }
  #container {
    width: 700px;
    height: 500px;
    border: 5px solid green;
  }
</style>
<button id='north' onclick='north()'>North</button>
<button id='west' onclick='west()'>West</button>
<button id='east' onclick='east()'>East</button>
<button id='south' onclick='south()'>South</button><br>

<div id="container"'>
    <div id="image">
        <img id="img" src="/assets/android.png">
    </div>
</div>
Robot Location:<div id="coord"></div>

