<style>
 #image {
    position: relative;
    cursor:move;
  }
  #img {
    position:absolute
  }
  #container {
    width: 700px;
    height: 450px;
    border: 5px solid green;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: 30px 0 0 250px;
  }
  #button{
      display: flex;
  }
</style>

<div id="container"'>
    <div id="image">
        <img id="img" src="/assets/android.png">
    </div>
</div>

<div id="button">
<div style="text-align:center">
    <button id='north'>North</button><br><br>
    <button id='west'>West</button>
    <button id='east'>East</button><br><br>
    <button id='south'>South</button><br><br>
</div>
Robot Location:<div id="coord"></div>
</div>
