<style>
 #img {
    position: relative;
  }
</style>
<button id='north' onclick='north()'>North</button>
<button id='west' onclick='west()'>West</button>
<button id='east' onclick='east()'>East</button>
<button id='south' onclick='south()'>South</button><br>

<img id="img" src="/assets/android.png">
